<p class="h4 mb-4">Cadastro de Cliente</p>

<form (ngSubmit)="salvar()" class="p-4 border rounded bg-light">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome:</label>
    <input
      type="text"
      id="nome"
      [(ngModel)]="cliente.nome"
      name="nome"
      required
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="cliente.email"
      name="email"
      required
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="telefone" class="form-label">Telefone:</label>
    <input
      type="text"
      id="telefone"
      [(ngModel)]="cliente.telefone"
      name="telefone"
      required
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="endereco" class="form-label">Endereço:</label>
    <input
      type="text"
      id="endereco"
      [(ngModel)]="cliente.endereco"
      name="endereco"
      required
      class="form-control"
    />
  </div>

  <!--
  <div class="mb-3">
    <label for="dataCadastro" class="form-label">Data de Cadastro:</label>
    <input
      type="date"
      id="dataCadastro"
      [(ngModel)]="cliente.dataCadastro"
      name="dataCadastro"
      required
      class="form-control"
    />
  </div>
  -->

  <button type="submit" class="btn btn-primary">Salvar</button>
  <button type="submit" class="btn btn-danger cancelar" (click)="voltarHome()">Cancelar</button>
</form>
