<h2>Listagem de Clientes</h2>

<div class="mb-3 ml-4">
  <button class="btn btn-secondary" (click)="cadastrar()">Cadastrar</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Endereço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.endereco }}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="editar(cliente)">Alterar</button>
      </td>
    </tr>
  </tbody>
</table>
